<!DOCTYPE html>
<html>
<head>
    <title>Percentage Calculator</title>
</head>
<body>

<h2>Percentage Calculator</h2>

<form action="/calculate" method="post">
    Name: <input type="text" name="name" required><br><br>
    Marks1: <input type="number" name="marks1" required><br><br>
    Marks2: <input type="number" name="marks2" required><br><br>
    Marks3: <input type="number" name="marks3" required><br><br>

    <button type="submit">Calculate Percentage</button>
</form>

</body>
</html>
